.singleColumn
  #big_buttons
    .big_button
      .q Potrzebujesz miejsca do pracy?
      %a{:href => "", :class=>"soon"} rezerwuj zasoby
      .clear
    .big_button
      .q Chcesz spotkać się z grupą ludzi?
      %a{:href => "", :class=>"soon"} zarezerwuj salę
      .clear
  .activity.tw
    .head Ostatnie wpisy
    .body#twitter_feed
      .entry
        .content Trwa ładowanie ostatnich wpisów...
      
