.singleColumn
  #big_buttons
    .big_button
      .q Potrzebujesz miejsca do pracy?
      %a{:href => ""} rezerwuj zasoby
      .clear
    .big_button
      .q Chcesz spotkać się z grupą ludzi?
      %a{:href => ""} zarezerwuj salę
      .clear
  .activity.fb
    .head Ostatnie wpisy
    .body
      .entry
        .title
          %a{:href => ""} Lorem ipsum dolor sit amet
        .content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum malesuada consequat suscipit. Aliquam mi leo, commodo eget congue eu, volutpat at dui.
        .added 3 godziny temu
      .entry
        .title
          %a{:href => ""} Lorem ipsum dolor sit amet
        .content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum malesuada consequat suscipit. Aliquam mi leo, commodo eget congue eu, volutpat at dui.
        .added 3 godziny temu
  .activity.tw
    .head Ostatnie wpisy
    .body
      .entry
        .title
          %a{:href => ""} Lorem ipsum dolor sit amet
        .content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum malesuada consequat suscipit. Aliquam mi leo, commodo eget congue eu, volutpat at dui.
        .added 3 godziny temu
      .entry
        .title
          %a{:href => ""} Lorem ipsum dolor sit amet
        .content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum malesuada consequat suscipit. Aliquam mi leo, commodo eget congue eu, volutpat at dui.
        .added 3 godziny temu
